@font-face {
  font-family: "Karmatic Arcade";
  src: url(../fuentes/ka1.ttf) format("contorns");
}
section.artRandom {
  border: 3px solid red;
  position: relative;
  margin: auto;
  height: 900px;
  width: 50%
}
section.foto {
  border: 3px solid blue;
  position: relative;
  width: 40%;
  height: 400px;
  float: left;
}
section.datos {

  border: 3px solid green;
  float: right;
  position: absolute;
  top: 0;
  height: 400px;
  width: 59%;
  right: 0;
}
section.datos p{
  text-align: center;
  vertical-align: middle;
  margin:auto;
}
section.descripcion {
  text-align: center;
  border: 3px solid black;
  position: absolute;
  top:400px;
  width: 100%;
  height: auto;
}
section.feedback {
  border: 3px solid purple;
  position: absolute;
  width: 100%;
  bottom: 0;
}
